DATABASE_IMPORT=/database-import/import.csv
DEBUG=False
HASH_SALT=b@7BV8c9b42c9wy

MASK_PATH=/home/user/Documents/plate-reader/masks
WARP_PATH=/home/user/Documents/plate-reader/warps
OUTPUT_PATH=/home/user/Documents/plate-reader/crop_images
YOLO5L_PATH=/home/user/Documents/plate-reader/yolov5m.pt
THRESHOLD=3

# NOTE:  POLL_FOLDER is the same folder as OUTPUT_PATH
POLL_FOLDER=/home/user/Documents/plate-reader/crop_images
VISU_FOLDER=/home/user/Documents/plate-reader/visualization

INSTALLATION_ADDRESS="Example Street 123, 001010"
OPENALPR_CONFIG=/home/user/Documents/PATH-TO-THIS-FOLDER/openalpr.conf


UPLOAD_URL=https://server.address/alpr
UPLOAD_TOKEN=[arandomtoken]
UPLOAD_ID=name-of-the-device


