# expose address for docker compose
EXPOSE=127.0.0.1:8136
TIMEOUT=60
WORKERS=2
UID=1001
GID=1001
TIMEZONE=Etc/UTC
APP_KEY=hlMnK3IPcokGF_gK9uWWodQhUY@6yCNZThjx4x
# Upload token must be the same in AGX/.env
UPLOAD_TOKEN=yourtoken
